.max-vh-10{
    max-height: 10vh;
}

.min-vh-80{
    min-height: 80vh;
}

.min-vh-90{
    min-height: 90vh;
}

.bg-undone{
    background-color: #ff8a80 !important;
}

.bg-half-done{
    background-color: #fff59d !important;
}

.bg-done{
    background-color: #b9f6ca !important;
}